<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>银行管理系统主页</title>
    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
    <script src="../assets/js/axios.js"></script>
  </head>
  <body>
    <h1>银行管理系统</h1>
    <p>请选择您要管理的项目：</p>
    <ul>
      <li><a href="admin_list.html">管理员管理</a></li>
      <li><a href="user_list.html">用户管理</a></li>
    </ul>
  </body>
</html>
