<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
  <script src="../assets/js/axios.js"></script>
</head>

<body>
  <form>
    <label for="mobile">
      手机号：
      <input type="text" name="mobile" id="mobile" />
    </label>
    <br />
    <label for="pwd">
      密码：
      <input type="text" name="pwd" id="pwd" />
    </label>
    <br />
    <input type="submit" value="提交" />
  </form>
  <script>
    const btn = document.querySelector("input[type=submit]");
    console.log(btn);
    btn.onclick = async (e) => {
      const mobile = document.querySelector("#mobile").value;
      const pwd = document.querySelector("#pwd").value;
      // const loginType = document.querySelector("#loginType").value;
      let data = {
        mobile,
        pwd,
        // loginType,
      };
      e.preventDefault();
      let url = "http://localhost:8080/bank_system_Web_exploded";
      console.log(data);
      const res = await axios({
        method: "post",
        url: `${url}/login`,
        data,
      });
      console.log(res);

      // if (res.data.code == 200) {
      //   alert("登录成功");
      //   // window.location = "./index.html";
      // }
      // console.log(res);
    };
  </script>
</body>

</html>