<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
    <script src="../assets/js/axios.js"></script>
  </head>
  <body>
  <button>新增用户</button>
  <br/>
    <table>
      <thead>
        <tr>
          <th>用户id</th>
          <th>昵称</th>
          <th>姓名</th>
          <th>电话号码</th>
          <th>创建时间</th>
          <th>修改时间</th>
          <th>卡片类型</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  修改用户
    <form>
      <label for="mobile">
        手机号：
        <input type="text" name="mobile" id="mobile" />
      </label>
      <br />
      <label for="name">
        用户名：
        <input type="text" name="name" id="name" />
      </label>
      <br />
      <label for="nickName">
        昵称：
        <input type="text" name="nickName" id="nickName" />
      </label>
      <br />
      <label for="pwd">
        密码：
        <input type="text" name="pwd" id="pwd" />
      </label>
      <br />
      <input type="submit" value="提交" />
      <input type="submit" id="set" value="修改" />
    </form>
    <script>
      const btn = document.querySelector("input[type=submit]");
      const btn1 = document.querySelector("#set");
      let data = {
        mobile: "",
        name: "",
        nickname: "",
        pwd: "",
        id: "",
      };
      // 修改提交
      btn.onclick = async (e) => {
        console.log("提交修改")
        const mobile = document.querySelector("#mobile").value;
        const name = document.querySelector("#name").value;
        const nickname = document.querySelector("#nickName").value;
        const pwd = document.querySelector("#pwd").value;
        let pm = {
          id: data.id,
          mobile: mobile,
          n: name,
          nn: nickname,
          pwd: pwd,
        };
        e.preventDefault();
        let url = "http://localhost:8080";
        const form = document.querySelector("form");
        // console.log([form]);
        const res = await axios({
          method: "post",
          url: `${url}/updateUser`,
          data: pm,
          headers: {
            token: localStorage.getItem("token"),
          },
        });
        console.log(res);
        initList()
      };
      // 取消
      btn1.onclick = async (e) => {
        const mobile = document.querySelector("#mobile").value;
        const name = document.querySelector("#name").value;
          const nickname = document.querySelector("#nickname").value;
        const pwd = document.querySelector("#pwd").value;
        let data = {
          mobile,
          name,
          nickname,
          pwd,
          id: 8,
        };
        e.preventDefault();
        let url = "http://localhost:8080";
        const res = await axios({
          method: "PUT",
          url: `${url}/set/admin`,
          data,
        });
        console.log(res);
      };
      // 获取列表
      // ()();
      async function initList() {
        let url = "http://localhost:8080";
        const res = await axios({
          methods: "post",
          url: `${url}/user/list`,
          headers: {
            token: localStorage.getItem("token"),
          },
        });
        console.log(res);
        // if(res.data.data.code == 200) {}
        const tbody = document.querySelector("tbody");

        // 渲染表格
        const strList = res.data.data.map((item) => {
          return `<tr>
          <td>${item.id}</td>
          <td>${item.nickname}</td>
          <td>${item.name}</td>
          <td>${item.mobile}</td>
          <td>${new Date(item.createTime).toLocaleDateString()}</td>
          <td>${new Date(item.updateTime).toLocaleDateString()}</td>
          <td>${
                  item.cardType == 1
                          ? "储蓄卡"
                          : item.cardType == 2
                                  ? "信用卡"
                                  : "社保卡"
          }</td>
          <td>
            <button id="update" >修改</button>
            <button id="delete" data-id="${item.id}">删除</button>
          </td>
        </tr>`;
        });
        tbody.innerHTML = strList.join("");
        const list = document.querySelectorAll("#update");
        // 修改的点击事件
        list.forEach((item, index) => {
          item.addEventListener("click", function () {
            const item = res.data.data[index];
            // alert("修改");
            console.log(item);

            const mobile = document.querySelector("#mobile");
            const name = document.querySelector("#name");
            const nickName = document.querySelector("#nickName");
            const pwd = document.querySelector("#pwd");
            data = {
              mobile: item.mobile,
              name: item.name,
              nickName: item.nickname,
              pwd: item.password,
              id: item.id,
            };
            mobile.value = item.mobile;
            name.value = item.name;
            nickName.value = item.nickname;
            pwd.value = item.password;
          });
        });
        const deleteList = document.querySelectorAll("#delete");
        deleteList.forEach((item, index) => {
          item.addEventListener("click", function (e) {
            console.log(e.target.dataset.id);
            let id = e.target.dataset.id;
            alert("修改");
          });
        });
      }

      initList()
    </script>
  </body>
</html>
